.about {
  position: relative;
  color: black;
  text-align: justify;
  padding: 2% 0;
  display: grid;
  grid-template-areas: 2/2;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  #about-img {
    padding-top: 32%;
    grid-area: 1/1/ span 2/1;
    place-self: end center;
    z-index: -1;
  }

  #about-main-txt {
    grid-area: 1/1;
    align-self: start;

  }

  #knowledge {
    grid-area: 1/2/span 2/2;
    align-self: center;
    line-height: 32px;

    ul {
      padding-left: 1rem;
      text-align: justify;
      line-height: 22px;
      list-style: '·  ' outside;
    }

    li {
      padding-bottom: 5px;
    }

  }
}

@media only screen and (max-width: 1024px) {

  .about {
    height: 100vh;
    grid-template-areas: 3/1;
    grid-template-columns: 99%;

    #about-img {
      position: absolute;
      top: 20%;
      right: -13%;
      padding: 0;
      grid-area: 1/1/ span 3/1;
      place-self: center end;
      z-index: -1;
      max-width: 70%;
    }

    #about-main-txt {
      grid-area: 1/1;
      align-self: start;
    }

    #knowledge {
      grid-area: 3/1;
      align-self: center;
      line-height: 32px;

      ul {
        padding-left: 1rem;
        text-align: justify;
        line-height: 22px;
        list-style: '·  ' outside;
      }

      li {
        padding-bottom: 5px;
      }
    }

    span {
      font-weight: 700;
    }
  }
}

@media only screen and (max-height: 800px) {
  .about {
    height: 95vh;
    #about-img {

    }

    #knowledge {
      grid-area: 1/1/span 2/1;
      padding-top: 80%;
    }
  }
}
@media only screen and (max-height: 600px) {
  .about {
    height: 90vh;
    #about-img {
      display: none;

    }

    #knowledge {
      padding-top: 10%;
      margin-top: 50%;
      grid-area: 1/1/span 2/2;
    }
  }
}

