.faq {
  height: 100%;
  display: grid;
  grid-template: 10% 90%/ 52% 5% 43%;
  margin: 0 0 10%;
  padding: 5% 0;
  grid-template-rows: repeat(5, auto);
  h1 {
    padding-top: 1rem;
    grid-column: 1/span 3;
    display: grid;
    justify-content: center;
  }

  .collapsible-list {
    grid-area: 2/1;
    place-self: start stretch;
    color: black;
    box-sizing: border-box;
    border-radius: 30px;

    .collapsible-item {
      border: 1px solid black;
      border-radius: 30px;
      padding: 3%;
      text-align: justify;
      margin-bottom: 1rem;
      background-color: #FAFAFA;
    }

    .collapsible-btn {
      display: grid;
      grid-template-columns: 90% 10%;
      margin: 0;
      font-size: 24px;
      background-color: #FAFAFA;
    }

    .collapsible-content{
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    .collapsible-btn:after{
      content: url("../img/icons/open.png");
    }
    .opened:after{
      content: url("../img/icons/close.png");
      grid-area: 1/2;
    }

  }

  #faq-img {
    position: relative;
    grid-area: 2/3;
    justify-content: center;
    z-index: -11;
  }

}

@media only screen and (max-width: 1024px) {
  .faq {

    grid-template-columns: 100%;
    place-items: center;
    overflow: hidden;

    h1 {
      padding: 15% 0 5%;
      height: 50%;
      grid-column: 1/1;
      vertical-align: center;
      place-self: center;
    }

    .collapsible-list {
      grid-area: 2/1;
      place-self: start stretch;
      min-height: 100%;
      color: black;
      box-sizing: border-box;
      border-radius: 30px;


      .collapsible-item {
        border: 1px solid black;
        border-radius: 30px;
        padding: 5% 3%;
        text-align: justify;
      }

      .collapsible-btn {

        font-size: 18px;
      }

    }

    #faq-img {
      visibility: hidden;
    }

  }
}