nav {
  display: grid;
  grid-template-areas: 1/5;
  grid-template-columns: repeat(5, auto);
  background: rgba(144, 21, 19, 1);
  position: fixed;
  width: 100%;
  z-index: 1;
  margin: 0;
  top: 0;
  padding: 2% 0;
  font-size: 18px;

  #burgerMenu {
    display: none;
  }

  #menu {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-between;

    li {

      a{
        text-decoration: none;
        transition: all .2s	ease-in-out;
        &:hover {
          color: #FAFAFA;
        }
      }

      a{ // Underline Slide In
        position: relative;
        overflow: hidden;
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 0;
          height: 2px;
          background:#FAFAFA;
          transition: all .2s ease-in-out;
        }
        &:hover::before {
          width: 100%;
        }
      }
      .active-nav:before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background:#FAFAFA;

      }
    }
  }

  #tel-nav {
    width: 100%;
    height: 200%;
    max-height: 50px;
    grid-column: 4;
    background: #FAFAFA;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    place-self: center start;
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center end;
    a {
      color: #000000;
      place-self: center start;
    }
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    font-size: 18px;
    margin: 0;
    padding: 0;
    #tel-nav {
      display: none;
    }

    #menu {
      padding: 20% 0 0;
      grid-column: 1;
      grid-template-columns: 100%;
      grid-template-rows: repeat(5, auto) 45%;
      position: fixed;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: rgba(144, 21, 19, 1);
      color: white;
      list-style: none;
      row-gap: 1rem;

      li {
        grid-template-areas: 1/1;
        position: relative;
        width: 100%;
        height: 100%;
        background: #FAFAFA;
        border: black 1px solid;
        border-radius: 30px;
        font-size: 20px;
        text-decoration: none;

        a {
          display: inline-grid;
          color: black;
          width: 100%;
          height: 100%;
          text-align: center;
          place-items: center;
        }
      }
      li:hover{
        text-decoration-line: underline;
      }
      a{
        text-decoration: none;
        transition: all .2s	ease-in-out;
        &:hover {
          color: #FAFAFA;
        }
      }

      a{ // Underline Slide In

        &:before {

          background: rgba(144, 21, 19, 1);
        }

      }
    }

    #burgerMenu {
      background: rgba(144, 21, 19, 1);
      padding: 1.5% 1% 1%;
      place-items: center;
      overflow: hidden;
      border: none;
      display: grid;
      grid-template-areas: 1/1;
      position: fixed;
      z-index: 100;
      top: 1rem;
      right: 1rem;
      cursor: pointer;

      #menuIcon {
        display: block;
        grid-area: 1/1;
      }

      #closeIcon {
        display: none;
        grid-area: 1/1;
      }
    }

  }
  #menu {
    transform: translateY(-100%);
  }
}
